@import url('https://fonts.googleapis.com/css2?family=Geist:wght@400;600;700&display=block');
@import url('https://fonts.cdnfonts.com/css/digital808');
body {
    font-family: 'Geist', ui-sans-serif, system-ui, sans-serif;
}
.logo {
    font-family: 'Digital808', sans-serif;
    font-size: 3rem;
    margin-top: -0.8rem;
    line-height: 0;
}