<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>snegs | The Ultimate E-commerce & Marketplace Engine</title>

    <link rel="stylesheet" href="/output.css" />
    
    <script src="https://cdn.jsdelivr.net/npm/@bigskysoftware/moxi-js@0.1.1/moxi.js" integrity="sha256-FYiaQ07vplZsK/jRKPT0yhLByqgC8cTXwe8SyuRy1lE=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/fixi-js@0.9.4/fixi.js" integrity="sha256-rPuE58bCyMrZ37o4bByX4epgBA1bAeTylp7TxOXVh90=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@bigskysoftware/ssexi-js@0.0.1/ssexi.js" integrity="sha256-/Apa7x6OzOp7AwjUoGNlM7n1Rma98JB515fUeJ/yjrM=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@bigskysoftware/paxi-js@0.0.1/paxi.js" integrity="sha256-EAglheIIvlwnF73UCBBTSIpd+Y9aDuzMJmya6UstvuU=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@bigskysoftware/rexi-js@0.0.1/rexi.js" integrity="sha256-cCEegdCXeB/kzcjjQ07v3ud2DUtKKhaCArdCI/mZAX4=" crossorigin="anonymous"></script>
    
    <script src="https://unpkg.com/lucide@latest"></script>
</head>
<body class="min-h-screen bg-base-200 font-sans text-base-content antialiased flex flex-col relative">
    {{ block "main" .}}{{ end }}
    <script>
        lucide.createIcons();
    </script>
</body>
</html>
